<nav class="navbar is-info is-inverted pl-6 pr-6">
  <div class="navbar-brand">
    <div class="hero is-info is-small">
      <div class="hero-body">
        <p class="title">
          Weather Top
        </p>
        <p>
          WeatherTop Services inc.
        </p>
      </div>
    </div>
  </div>
  <div class="navbar-menu">
    <div class="navbar-end">
      <a id="dashboard" class="navbar-item" href="/dashboard">Dashboard</a>
      <a id="about" class="navbar-item" href="/about">About</a>
      <a id="myaccount" class="navbar-item" href="/myaccount">My Account</a>
      <a id="logout" class="navbar-item" href="/logout">Logout</a>
    </div>
  </div>
</nav>

<script>
  $("#${_id}").addClass("has-background-white has-text-black");
</script>