#{extends 'main.html' /}
#{set title:'About' /}

#{menu id:"about"/}

<div class="content box has-text-centered">


  <div class="columns is-flex is-vcentered">
    <div class="column is-one-third">
      <div class="content">
        <p class="title">
          Welcome to the WeatherTop Application
        </p>
        <p>
          Here you can monitor the latest weather station readings, and submit readings for your local
          stations.
        </p>
      </div>
    </div>
    <div class="column">
      <img src="/public/images/weather-icons-set.jpg">
    </div>
  </div>
</div>