#{extends 'main.html' /}
#{set title:'Welcome' /}

#{welcomemenu id:"start"/}

<div class="content box">
  <p class="title has-text-weight-bold">
    Welcome to the Weather Top Application
  </p>
  <p class="is-size-4">
    Please sign up or login to continue!
    <br>
  </p>
  <p>
    <img src="/public/images/white-cloud-blue-sky.jpg" alt="Blue sky with clouds" title="Blue sky with clouds">
    <a href="https://www.freepik.com/free-photo/white-cloud-blue-sky_3707296.htm#query=weather%20background&position=4&from_view=keyword&track=ais">Image
      by lifeforstock</a> on Freepik
  </p>
</div>
